ALLOW_REAL_TRADING=
AUTO_MOBILE_REPORTS_ENABLED=
BINANCE_TESTNET_ORDER_AMOUNT=
BINANCE_TESTNET_SYMBOL=
BULL_TREND_ALIGNED_REAL_ENABLED=
CORRELATION_RISK_ENABLED=
CVD_FILTER_ENABLED=
EMA_ALIGNMENT_FILTER_ENABLED=
EMA_ALIGNMENT_MODE=
EMA_COMPRESSION_TELEMETRY_ENABLED=
EMA_SLOPE_FILTER_ENABLED=
EMA_SLOPE_LOOKBACK=
EXECUTION_BACKEND=
EXIT_RANGE_ACTIVATION_MULT=
EXIT_RANGE_BREAKEVEN_PULLBACK_MULT=
FVG_ALERT_TELEGRAM=
FVG_ALERT_THROTTLE_SEC=
FVG_EXPIRATION_BARS=
FVG_MAX_CANDLES_SCAN=
FVG_MAX_SYMBOLS_PER_CYCLE=
FVG_MIN_GAP_PCT=
FVG_SCAN_INTERVAL=
FVG_TRACKER_ENABLED=
GITHUB_PROJECT_ID=
GITHUB_PROJECT_NUMBER=
GITHUB_PROJECT_OWNER=
GLOBAL_BTC_DOM_BOOST_THRESHOLD=
GLOBAL_BTC_DOM_FILTER_ENABLED=
GLOBAL_ENTRY_COOLDOWN_SECONDS=
GLOBAL_FEAR_GREED_FILTER_ENABLED=
GLOBAL_FEAR_VETO_THRESHOLD=
GLOBAL_MARKET_CACHE_TTL=
GLOBAL_MARKET_PROVIDER_ENABLED=
GLOBAL_MARKET_USE_MCP=
HARD_SL_ATTACH_MAX_RETRIES=
MARKET_BREADTH_FEAR_THRESHOLD=
MAX_ENTRY_SL_PCT=
MAX_MARGIN_PERCENT=
MAX_OPEN_TRADES=
MAX_RISK_USD=
MIN_NOTIONAL_VALUE=
MTF_FILTER_ENABLED=
OI_FILTER_ENABLED=
PAPER_MODE=
PARTIAL_FILL_TIMEOUT_SECONDS=
PENDING_SEND_STALE_SECONDS=
REGIME_CONFLICT_SHADOW_OVERRIDE_ENABLED=
REGIME_TUNING_ENABLED=
RISK_PER_TRADE_PERCENT=
RUN_BINANCE_TESTNET_E2E=
SHADOW_SIM_LATENCY_MAX_MS=
SHADOW_SIM_LATENCY_MIN_MS=
SHADOW_SIM_MIN_PARTIAL_RATIO=
SHADOW_SIM_PARTIAL_COMPLETE_RATE=
SHADOW_SIM_PARTIAL_FILL_RATE=
SHADOW_SIM_PRICE_OUT_OF_RANGE_RATE=
SHADOW_SIM_REJECT_RATE=
SHADOW_VALIDATION_CAMPAIGN=
SHADOW_VALIDATION_ENABLED=
SHOCK_MIN_DIST_PCT=
SIDE_PARITY_MIN_ADX=
SIDE_PARITY_MIN_VOL_REL=
SIDE_PARITY_RANGE_BUY_MAX_RSI=
SIDE_PARITY_RANGE_SELL_MIN_RSI=
SIGNAL_AGENT_OVERRIDE_ENABLED=
SIGNAL_AGENT_OVERRIDE_THRESHOLD=
SMART_EXIT_THRESHOLD_REAL=
SMART_EXIT_THRESHOLD_SHADOW=
SNIPER_DASHBOARD_ORIGINS=
SNIPER_DB_PATH=
STOP_LOSS_ATR_MODIFIER=
TOP_TRIAGE_COUNT=
TRIAGE_CANDIDATE_POOL_MULTIPLIER=
TRIAGE_MAX_CANDIDATE_POOL=
USE_TESTNET=
WATCHDOG_HEARTBEAT_PATH=